:root {
  --primary-color: #2d1910;
  --accent-color: #daaa63;
  --bg-color: #f3e5d1;
  --brown-color: #5b3703;
  --grey-color: #434b54;
  --white-color: #f8f3ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  font-weight: 600;
}

.section-header {
  font-size: 2rem;
  padding: 3rem 0 2rem 0;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed var(--grey-color);
}

.btn {
  all: unset;
  cursor: pointer;
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--primary-color);
  background: var(--white-color);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  height: 6rem;
  padding: 1.8rem 4%;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 1.8rem;
}

.list-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s ease;
}

.list-btn:hover {
  font-weight: 500;
}

header span b {
  font-weight: 800;
}

main {
  width: 100%;
  min-height: calc(100vh - 12rem);
  padding: 0 0 0 4%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
}

.aside__filter {
  min-width: 18rem;
  max-width: 18rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  border-right: 1px dashed var(--primary-color);
}

.aside__filter .filters .box__filter {
  width: 100%;
  margin-bottom: 1rem;
}

.aside__filter h2 {
  height: 3rem;
  margin-bottom: 0.5rem;
  background-color: var(--bg-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.box__filter input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.box__filter input::-webkit-clear-button {
  display: inline-block;
  background-color: red;
  color: white;
  font-weight: bold;
  line-height: 1;
  border: none;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.aside__filter .filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__filter .filters .box__filter ul {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  font-weight: 400;
}

.aside__filter ul li {
  display: flex;
  border-bottom: 2px solid var(--white-color);
  list-style: none;
  cursor: pointer;
  padding: 0 1rem;
}

.select-btn {
  all: unset;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.select-btn:hover {
  font-weight: bold;
}

.select-btn--pressed {
  font-weight: bold;
}

.book-list {
  height: calc(100vh - 12rem);
  padding: 0 4% 3rem 3rem;
  width: 100%;
  overflow-y: auto;
}

.book-list-header {
  border-bottom: 1px dashed var(--grey-color);
}

.book-list-header .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-list-header .title span {
  margin: 0 1rem;
  font-weight: 300;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.book-list-header .counters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.counters p,
.counters .tip {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.counters .tip span {
  display: none;
}

.book-card .btn-tip span {
  display: none;
}

.counters .tip:hover span {
  font-size: 1.2rem;
  width: auto;
  color: var(--prmary-color);
  background-color: var(--white-color);
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px dashed var(--primary-color);
  border-radius: 37px 37px 37px 37px;
  z-index: 100;
  top: 3rem;
  left: -5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.pos-relative {
  position: relative;
}

.book-card .btn-tip {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.counters .tip:hover {
  cursor: help;
}

.book-card .btn-tip:hover span {
  font-size: 1.2rem;
  width: auto;
  color: var(--prmary-color);
  background-color: var(--white-color);
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px dashed var(--primary-color);
  border-radius: 37px 37px 37px 37px;
  z-index: 100;
  top: 2rem;
  left: 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.book-list .books-container {
  width: 100%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  justify-items: center;
  justify-content: start;
  align-content: start;
}

.book-card {
  min-height: 10rem;
  max-width: 20rem;
  padding: 1.2rem 1.8rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.3s ease;
  border: 1px dashed silver;
  -webkit-box-shadow: 14px 17px 9px -11px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 14px 17px 9px -11px rgba(0, 0, 0, 0.48);
  box-shadow: 14px 17px 9px -11px rgba(0, 0, 0, 0.48);
  position: relative;
}

.btn-modal {
  all: unset;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-modal picture {
  transition: transform 0.3s ease;
}

.btn-modal img {
  width: 12rem;
  height: 100%;
  aspect-ratio: 2/3;
  border-radius: 1rem;
  display: block;
  object-fit: fill;
}

.book-card:hover {
  transform: translateY(-0.5rem);
}

.book-list .card-info {
  min-width: 12rem;
  max-width: 12rem;
  height: 30%;
  margin-top: 1.6rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card-info p {
  font-size: 1.2rem;
}

.btn-icon {
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 4.2rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.btn-icon path {
  cursor: pointer;
  stroke-width: 0.6;
  stroke: var(--primary-color);
  fill: var(--white-color);
  opacity: 50%;
}

.btn-icon--reserved path {
  fill: var(--primary-color);
  opacity: 1;
}

.btn-icon path:hover {
  opacity: 1;
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.btn-icon path:active,
.btn-icon--reserved path:active {
  fill: var(--primary-color);
}

.card-footer {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-modal--reserved {
  opacity: 0.5;
}

footer {
  color: var(--white-color);
  background-color: var(--primary-color);
  text-align: center;
  width: 100%;
  height: 3rem;
  padding: 2rem 4% 4rem 4%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.list-btn-animation {
  animation: colorChange 0.5s ease;
}

@keyframes colorChange {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    font-weight: bold;
  }

  100% {
    transform: scale(1);
  }
}

details {
  margin: 0 auto;
  overflow: hidden;
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
}

summary::after {
  content: ">";
  font-size: 1.6rem;
  position: absolute;
  top: 0.65rem;
  left: 12rem;
  scale: 1.5 1;
  transform: rotate(90deg);
  transform-origin: 0.5rem 50%;
  transition: 0.25s transform ease;
  border-radius: 50%;
}

summary:hover::before {
  content: "";
  width: 2.6rem;
  height: 2.6rem;
  font-size: 1.6rem;
  position: absolute;
  top: 0.4rem;
  left: 11.1rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0.5;
}

details[open] > summary::after {
  transform: rotate(270deg);
  top: 0.5rem;
  left: 11.8rem;
}

details summary::-webkit-details-marker {
  display: none;
}
