.box__range-slider {
  background-color: var(--bg-color);
  padding: 1rem 1rem 2rem 1rem;
}

.range__field {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
}

.range__field input {
  all: unset;
  width: 3.5rem;
  height: 1.4rem;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.range__slider1 {
  width: 100%;
  height: 0.3rem;
  border-radius: 5px;
  background: gray;
}

.range__slider1 .thumb {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  background: var(--primary-color);
  cursor: grab;
  position: absolute;
  top: -5px;
}

.track-1 {
  height: 0.3rem;
  background: var(--primary-color);
  border-radius: 5px;
}
