.aside__readinglist-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aside__readinglist-box article,
.aside__readinglist-box article img {
  width: 100%;
}

.card-priority {
  display: none;
}

.priority--display {
  display: flex;
}

.priority--display svg {
  stroke-width: 1;
  stroke: red;
}

.priority--empty {
  fill: none;
}

.priority--fill {
  fill: red;
}
