.aside__readinglist {
  max-height: 100vh;
  padding: 4rem;
  margin-left: 2rem;
  border-left: 1px dashed var(--primary-color);
}

.aside__readinglist-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aside__readinglist-box .btn-modal--reserved {
  opacity: 1;
}

.aside__readinglist-box .card-info,
.aside__readinglist-box .card-footer {
  display: none;
}

.aside__readinglist-box article,
.aside__readinglist-box article img {
  width: 100%;
}

.card-priority {
  display: none;
}

.priority--display {
  display: flex;
}

.priority--display svg {
  stroke-width: 1;
  stroke: var(--primary-color);
}

.priority--empty {
  fill: none;
}

.priority--fill {
  fill: var(--primary-color);
}
